version: 2.1

orbs:
  aws-eks: circleci/aws-eks@1
  gcp-cli: circleci/gcp-cli@1
  go: circleci/go@1

jobs:
  gomod-cache:
    executor:
      name: go/default
      tag: '1.17'
    steps:
      - checkout
      - go/mod-download-cached

  publish-image:
    executor:
      name: go/default
      tag: '1.17'
    resource_class: xlarge
    steps:
      - checkout
      - gcp-cli/install
      - gcp-cli/initialize
      - run:
          name: Adding Docker credHelpers for GCR
          command: gcloud auth configure-docker
      - go/load-cache
      - restore_cache:
          name: Restoring Go build cache
          keys:
            - go-build-{{ arch }}-{{ checksum "go.sum" }}-{{ .Revision }}
            - go-build-{{ arch }}-{{ checksum "go.sum" }}
      - run:
          name: Installing ko
          command: go install github.com/google/ko@v0.9.3
      - setup_remote_docker:
          version: 20.10.11
          docker_layer_caching: true
      - run:
          name: Publishing container images
          command: IMAGE_TAG=${CIRCLE_TAG:-${CIRCLE_SHA1}} make release
          environment:
            KO_DOCKER_REPO: gcr.io/triggermesh
            DIST_DIR: /tmp/dist/
      - persist_to_workspace:
          root: /tmp/
          paths:
            - dist/
      - store_artifacts:
          path: /tmp/dist/

workflows:
  test-and-publish:
    jobs:
      - publish-image:
          context: production
          filters:
            tags:
              only: /^v([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
            branches:
              only: main
     